/* Customize Collapse Header Background Color */
.ant-collapse-header {
    background-color: "red";
  }
  
/* Customize Collapse Header Text Color */
.ant-collapse-header > .ant-collapse-arrow, .ant-collapse-header > .ant-collapse-header-content {
  color: "blue";
}

/* Customize Collapse Panel Background Color */
.ant-collapse-content {
  background-color: "green";
}

/* Customize Collapse Panel Text Color */
.ant-collapse-content-box {
  color: "yellow";
}

/* Customize Collapse Panel Border Color */
.ant-collapse-borderless .ant-collapse-item {
  border-color: "orange";
}